<tr role="row medical_record-row" class="odd" id=<%= medical_record_path(medical_record.id) %>>
  <td class=""><%= medical_record.id %></td>
  <td class="sorting_1"><%= medical_record.diagnostic %></td>
  <td>Dr.<%= medical_record.symptoms %></td>
  <td><%= medical_record.doctor.firstname %></td>
  <td><%= medical_record.date %></td>
  <td><%= link_to 'Show', medical_record_path(medical_record) %></td>
  <td><%= link_to 'Edit', edit_medical_record_path(medical_record) %></td>
</tr>