<div class="container" id="sign-up-form">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
<%= form_with(model: patient, local: true) do |f| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :Firstname %><br />
  <%= f.text_field :firstname, 
                     placeholder: 'First Name', 
                     class: 'form-control' %>

  <%= f.label :Surname %><br />
  <%= f.text_field :surname, 
                    placeholder: 'Last Name', 
                    class: 'form-control' %>

  <%= f.label :Phone_Number %><br />
  <%= f.text_field :phone_number, 
                    placeholder: 'Phone Number', 
                    class: 'form-control' %>

  <%= f.label :Address %><br />
  <%= f.text_field :address, 
                    placeholder: 'Address', 
                    class: 'form-control' %>
                    <br>

  <%= f.label :Date_Of_Birth %><br />
  <%= f.date_select :datebirth, 
                    placeholder: 'Date of Birth', 
                    class: 'form-control' %>
  
  <hr>
  <div class="actions">
    <%= f.submit 'Finish Sign Up', class: 'btn btn-info' %>
  </div>
<% end %>
</div>
</div>
</div>



