<p id="notice"><%= notice %></p>

<div class="container">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"><%= @patient.firstname %>'s Profile</h6>
    </div>
    <div class="card-body">
        
            <hr>
            <p>First Name</p>
            <b><%= @patient.firstname %></p></b>
            <hr>
            <p>Last Name</p>
            <b><%= @patient.surname %></b>
            <hr>
            <p>Phone Number</p>
            <b><%= @patient.phone_number %></b>
            <hr>
            <p>Address</p>
            <b><%= @patient.address %></b>
            <hr>
            <p>Date of Birth</p>
            <b><%= @patient.datebirth %></b>
            <hr>
            

        <% if user_doctor? %> 

            <%= link_to 'Add Medical Record', new_medical_record_path, :class=> 'btn btn-success' %>

            <% end %>
            <%= link_to 'Edit', edit_patient_path(@patient), :class => 'btn btn-info' %>
            <%= link_to 'Destroy', @patient, method: :delete, :class=> 'btn btn-danger', data: { confirm: 'Are you sure?' } %>

              
    </div>
  </div>

  <div class="container-fluid"style=" width:96%; ">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Medical Records</h1>
      
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="col-sm-12 col-md-6">
      <div id="dataTable_filter" class="dataTables_filter">
        <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
      </div>
            
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
          
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                <thead>
                  <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 61px;">ID</th>
                    <th class="sorting_desc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" aria-sort="descending" style="width: 77px;">Diagnostic</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 50px;">Symptoms</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 31px;">Issued By</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 68px;">Date Issued</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 40px;"></th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 40px;"></th>
                    
                  </tr>
                </thead>
                
                <tbody>
                    
                    <%= render @medical_records %>
                             
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>


